@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');


$font-familyBig: 'Big Shoulders Display', cursive;
$font-familyLexend: 'Lexend Deca', sans-serif;


$TransparentWhite: hsla(0, 0%, 100%, 0.75); //(paragraphs)
$VeryLightGray: hsl(0, 0%, 95%);  //(background, headings, buttons)
$BrightOrange: hsl(31, 77%, 52%);
$DarkCyan: hsl(184, 100%, 22%);
$VeryDarkCyan: hsl(179, 100%, 13%);